package pages

templ Html(title string) {
	<!DOCTYPE html>
	<html lang="en" class="dark">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<script src="/assets/tailwindcss-browser-v4.3.3.js"></script>
			<script type="module" src="/assets/datastar-v1.0.4.js"></script>
		</head>
		<body class="bg-neutral-900 text-neutral-100 min-h-screen">
			{ children... }
		</body>
	</html>
}
