package pages

import "mymyapp/internal/ui/components"

templ RequestDebugPage(data components.RequestData) {
	@BaseLayout("Request Debug") {
		<div class="container mx-auto px-4 py-8">
			<h1 class="text-3xl font-bold text-neutral-100 mb-6">Request Debug Information</h1>
			@components.RequestInfo(data)
		</div>
	}
}
